DATABRICKS_WORKSPACE_ID="<Your Databricks space id from Genie URL>"
DATABRICKS_HOST="<Your Databricks host. Example: https://adb-xxxxxxxxxxxx.xx.azuredatabricks.net>"
DATABRICKS_TOKEN="<Your Databricks access token>"
PROJECT_CONNECTION_STRING="< Connection string available in Overview tab of AI Foundry (Project Details) >"
FABRIC_CONNECTION_NAME="<name of the connected resource in AI Foundry>"